<div class="card">
    <div class="img-container"><img [src]="product_item.image" alt=""></div>
    <div class="informacion">
        <h1>{{product_item.title}}</h1>
        <p><span>Nombre del vendedor:</span> {{product_item.seller}}</p>
        <p *ngIf="product_item.quantity>0"><span>Cantidad disponible: </span>{{product_item.quantity}}</p>
        <p><span>Precio: </span> ${{product_item.price}}</p>
        <p><span>Descripción: </span>{{product_item.descripcion}}</p>
        <div *ngIf="product_item.quantity>0" class="botones">
            <button class="agregar-al-carrito" (click)="btnAddCarrito(product_item.id)">Agregar al carrito</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
</div>
