.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    border-color: black;
    border-radius: 9px;
    width: 80vw;
}
.cont-item{
    width: 30%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 50%;
    height: 80%;
}