.contenedor{
    flex-direction: column;
    align-items: center;
    height: auto;
    flex: 1; 
    padding-right: 10px;
    width: 60%;
}

.contenedor-padre {
    display: flex;
    justify-content: space-between;
  }

@keyframes carrito-animacion {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .boton-compra {
    flex: 0 1 auto;
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 100px;
  }
  
  .boton-compra:hover {
    animation: carrito-animacion 0.5s ease-in-out forwards;
    background-color: #45a049; /* Verde oscuro */
  }
  
  .icono-carrito {
    margin-right: 5px;
  }