<!--<ul>
    <li *ngFor="let show of tvshows">{{show.title}}</li>
</ul>-->

<div class="contenedor">
    <app-product *ngFor="let product of products" [product_item] = "product"></app-product>
    <!--<app-show *ngFor="let show of tvShows" [cardShow] = "show"></app-show>
    <div *ngFor="let show of tvshows">
        <h2>{{show.title}} <span *ngIf="show.year>2000">({{show.year}})</span></h2>
        <p>Number of episodes: {{show.episodes}}</p>
        <img [src]="show.image" alt="">
    </div>-->
</div>
