<div class="Contenedor">
    <img  src="https://wallpapercave.com/wp/wp8969112.jpg"  class="ImgFondo"/>
    <p class="Welcome">
        ¡Bienvenido a Animated Store!
    </p>
</div>
<div class="Nosotros">
    <p class="Sub">
        ¿Quiénes Somos?
    </p>
    <p class="Sub">
        Mision
    </p>
    <p class="Sub">
        Valores
    </p>
</div>
<div class="NText">
    <p class="TextA">
        En Animated Store, nos apasiona el mundo de las series animadas y todo lo relacionado con ellas. Desde los clásicos más queridos hasta las últimas tendencias, nos encanta sumergirnos en los vibrantes universos animados que nos inspiran, entretienen y nos hacen soñar.  
        
    </p>

    <p class="TextA"> Nuestra misión es ofrecer a los amantes de la animación una experiencia de compra emocionante y llena de descubrimientos. Nos esforzamos por proporcionar una amplia selección de productos de alta calidad que rindan homenaje a tus series favoritas. Ya sea que estés buscando artículos de colección, prendas de vestir con estilo o accesorios encantadores, en Animated Store tenemos algo especial para cada fan.
        
    </p>
    <p class="TextA">
        En Animated Store, valoramos la comunidad. Nos encanta conectar con nuestros clientes y compartir la emoción de la animación juntos. Ya sea que estés buscando el regalo perfecto para un amigo o deseando agregar un toque de magia animada a tu vida diaria, estamos aquí para ayudarte a encontrar lo que necesitas. Nuestro equipo está comprometido con brindarte una experiencia de compra excepcional. Si alguna vez necesitas asistencia o tienes alguna pregunta, no dudes en contactarnos. Estamos aquí para asegurarnos de que tu experiencia en Animated Store sea verdaderamente memorable.
    </p>
</div>



