<!--<div [ngClass]="{ 'card' : cardShow.year>2000}">-->
    <div class="card">
        <div><img [src]="product_item.image" alt=""></div>
        <div>
            <h1>{{product_item.title}}</h1>
            <p><span>Nombre del vendedor:</span> {{product_item.seller}}</p>
            <p *ngIf="product_item.quantity>0"><span>Cantidad disponible: </span>{{product_item.quantity}}</p>
            <p><span>Precio: </span> ${{product_item.price}}</p>
            <p><span>Descripción: </span>{{product_item.descripcion}}</p>
 
        </div>
    </div>
    