<div class="header">
  <a routerLink="./home" >
    <img src="/assets/img/logo.png" class="logo-img">
  </a>  <div class="search_bar">
    <input type="text" placeholder="Buscar en AnimatedStore">
    <button class="Buscar">Buscar</button>
  </div>
  <div>
    <a class="login" routerLink="./login"routerLinkActive="active">Iniciar Sesión</a><br>
</div>
</div>
<nav>
  <div >
      <a class="UnderBar" routerLink="./home" routerLinkActive="active">Home</a><br>
      <a class="UnderBar" routerLink="./contact" routerLinkActive="active">Contact</a><br>
      <a class="UnderBar" routerLink="./about" routerLinkActive="active">About</a><br>
  </div>
</nav>

<router-outlet></router-outlet>