<div class="header">
  <a routerLink="./home" >
    <img src="/assets/img/logo.png" class="logo-img">
  </a>  <div class="search_bar">
    <input type="text" placeholder="Buscar en AnimatedStore" [(ngModel)]="searchTerm">
    <button class="Buscar" (click)="btnClickSearch()">Buscar</button>
  </div>
  <div>
    <a *ngIf="!isAuthenticated" class="login" routerLink="./login" routerLinkActive="active">Iniciar Sesión</a>
    <a *ngIf="isAuthenticated" class="login" routerLinkActive="active" (click)="btnUserInfo()" style="cursor: pointer;">Bienvenido</a>
</div>
<button class="boton-carrito" (click)="btnCarrito()">
  <img src="https://cdn-icons-png.freepik.com/512/9284/9284424.png" alt="Carrito">
</button>


</div>
<nav>
  <div >
      <a class="UnderBar" routerLink="./home" routerLinkActive="active">Home</a><br>
      <a class="UnderBar" routerLink="./contact" routerLinkActive="active">Contact</a><br>
      <a class="UnderBar" routerLink="./about" routerLinkActive="active">About</a><br>
  </div>
</nav>

<router-outlet></router-outlet>