nav{
    display: flex;
    height: 60px;
    background-color: #00a896;
    align-items: center;
    justify-content: space-between;
}
div{
    display: flex;
    height: 100%;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
   font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}
.active{
    color: #F17105;
}
.header{
    background-color:#0B161A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
}
.search_bar{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}
input{
    width: 90%;
    height: 50%;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-indent: 5px;
}
button{
    width: 10%;
    height: 60%;
    padding: 0;
    border-radius: 5px; 
    
}
.logo-img {
   width: 120px;
    height: 90px;
    border-radius: 10%; 


  }
 
