<h1>Pagar</h1>
<body>

<div class="paydiv">
   <app-credit-card-list [cards]="cards"></app-credit-card-list>
</div>
<div class="form-container">
    <p><span>Numero tarjeta: </span><input type="text" [(ngModel)]="num_tar"></p>
    <p><span>Nombre titutlar: </span><input type="text" [(ngModel)]="nombre"></p>
    <p><span>CVV: </span><input type="password" [(ngModel)]="cvv"></p>
    <p><span>Fecha de expiracion: </span><input type="month" [(ngModel)]="date"></p>
    <button (click)="pay()">Agregar tarjeta y pagar</button>
</div>
</body>